*{
    margin: 0px;
    padding: 0px;
    font-family: "Newsreader", serif;
  
}
#section{
    position: relative;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 0px 50px;
}
nav ul li {
    list-style: none;
    display: inline;
     /* to disply the block element inline */
    margin: 10px 10px 0px 0px ;
}
nav ul li a{
    text-decoration: none;

}
nav ul li a:hover{
    color:red;
    text-decoration: underline;
}
#home{
    margin-top: 20px;
    margin-left:50px;
    
    

}
.home-content{
    margin-top: 150px;
}

#home-heading{
    font-family: "Tangerine", serif;
    font-size: 50px;
    margin-bottom: 20px;
}
#lastname{
    color: orange;
    font-family: "Tangerine", serif;

}
.para{
    line-height: 1.5;
}
#download{
    text-decoration: none;
    border: solid black;
    border-radius: 7px;
    padding: 5px;
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 30px;

}
.home-image{
    height: 75%;
    width: 45%;
    position: absolute;
    right: 40px; 
    bottom: 0px;
}
.group{
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s, left 1s;
    


}
.home-image:hover #shape{
    bottom: 70px

}
.home-image:hover #girl{
    left: 40%;
}
#about{
    margin-top: 350px;
    
}
.sectionhead{
    text-align: center;
    line-height: 1.5;
}
.mainheading{
    font-size: 30px;
}
.subheading{
    font-size: 20px;
    color:green;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:  30px; ;
    margin-top: 40px;
  align-items: center;
    /* text-align: center; */ 
   
}
#img1{
    height: 400px;
    width: 400px;
    text-align: center;
    margin-left: 50px;
}
.abouttext{
    line-height: 1.5;
    text-align: justify;
}

.info{
    margin-left: 10px;
}
.skill-contents {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap:  30px; ;
    margin-top: 40px;
  align-items: center;
  }
  
  .bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
  }
  
  .bar-head,
  .bar-percent {
    font-weight: 500;
    font-size: 20px;
  }
  
  .base-bar {
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
  }
  
  .html-bar {
    background-color: orange;
    width: 89%;
  }
  
  .css-bar {
    background-color: orange;
    width: 69%;
  }
  
  .js-bar {
    background-color: orange;
    width: 89%;
  }
  
  .html-bar {
    background-color: orange;
    width: 89%;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .anim {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .brand {
    color: black;
    font-size: 30px;
  }
  
  .anim:hover {
    background-image: linear-gradient(to bottom, red, yellow);
    animation: rotate 4s; /* shorthand for animation-name, animation-duration */
  }
  
  @keyframes rotate{
    0%{
      transform: rotate(30deg);
    }
    20%{
      transform: rotate(-30deg);
    }
    40%{
      transform: rotate(30deg);
    }
    60%{
      transform: rotate(-30deg);
    }
    80%{
      transform: rotate(30deg);
    }
    100%{
      transform: rotate(-30deg);
    }
  }
  
  .icon-container div:hover .brand{
    color: white;
  }
  
  #copy{
    text-align: center;
    margin-top: 40px;
  }
  
  .up-arrow{
    float: right;
    margin: 0px 30px 30px 0px;
  }
  ::-webkit-scrollbar{
    width: 10px;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-track{
    background-color: antiquewhite;
  }
  ::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color:rgb(254, 195, 85) ;
  }
  html{
    scroll-behavior: smooth;
  }